<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <img src="images/3.jpg" alt="此处应有图片" class="img-responsive img-thumbnail">
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>搬水</strong></div>
      <div class="panel-body">
        <!-- 任务内容 -->
        <p>快没水喝了，帮帮我们吧！！！.</p>
      </div>
      <table class="table table-condensed">
        <tr>
          <td><strong>&nbsp;委托人：</strong></td>
          <td>李闯</td>
        </tr>
        <tr>
          <td><strong>&nbsp;佣金：</strong></td>
          <td>￥1.10</td>
        </tr>
        <tr>
          <td><strong>&nbsp;开始时间：</strong></td>
          <td>2011-11-11 11:11</td>
        </tr>
        <tr>
          <td><strong>&nbsp;结束时间：</strong></td>
          <td>2011-11-11 12:11</td>
        </tr>
        <tr>
          <td><strong>&nbsp;送货地点：</strong></td>
          <td>慎六516</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">评论</div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <p>根据被嵌入内容的外部容器的宽度，自动创建一个固定的比例，从而让浏览器自动确定视频或 slideshow 的尺寸，能够在各种设备上缩放。
          </p>
          <div class="pull-right"><p>——<span>李闯</span> <span>2011-11-11</span></p></div>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>
