<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a ui-sref='taskdetail'><img src="images/4.jpg" alt="..."></a>
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="images/4.jpg" alt="...">
    <div class="caption">
      <table class="table table-condensed">
        <tr>
          <th>搬水</th>
        </tr>
        <tr>
          <td>委托人：</td>
          <td>李小明</td>
        </tr>
        <tr>
          <td>时间：</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>地点：</td>
          <td>慎六520</td>
        </tr>
      </table>
      <p><a href="#" class="btn btn-primary" role="button">接受委托</a>
      <a href="#" class="btn btn-default" role="button">详细情况</a></p>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
